<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>403 Session Expired</title>
    </head>
    {{> header1 }}
    <body>
        <style>
            section .title {
                margin-bottom: 40px;
                margin-top: 20px;
            }
            section .title span {
                font-size: 30px;
            }
            .errorImg {
                left: 50%;
                transform: translate(-50%, 0%);
                position: relative;
                max-width: 100%;
                height: auto;
                box-shadow: rgba(255, 255, 255, 0.05) 0 6px 24px 0, rgba(255, 255, 255, 0.08) 0 0 0 1px;
            }
        </style>
        <section class="about" id="about">
            <div class="content">
                <img class="errorImg" src="/Assets/Images/Error/403.jpg">
                <div class="title">
                    <span>Session expired or logged in from another device</span>
                </div>
                <div class="button">
                    <a class="buttons" style="font-size: 18px;" href="/login?redirect={{encodeURIComponent currentUrl}}">Go to Login Page</a>
                </div>
            </div>
        </section>
    </body>
    {{> footer }}
</html>