<header>
    <div class="header-container">
        <a class="logo">
            <img src="/icon.svg" alt="Logo" class="logo-image"/>
            <span class="logo-text">{{#if appName}}{{appName}}{{else}}{{#if app}}{{app}}{{else}}mbkauthe{{/if}}{{/if}}
                <span class="logo-comp">mbktech</span></span>
        </a>

        {{> profilemenu}}
    </div>
</header>