<head>
    <link rel="stylesheet" href="/Assets/Style/menu.css">
</head>
<div id="linkContextMenu" class="custom-context-menu" style="display: none;">
    <ul>
        <li><a href="#" data-action="openCurrentTab">Open in current tab</a></li>
        <li><a href="#" data-action="openNewTab">Open in new tab</a></li>
        <li><a href="#" data-action="openNewWindow">Open in new window</a></li>
    </ul>
</div>

<div id="pageContextMenu" class="custom-context-menu" style="display: none;">
    <ul>
        <li data-action="home"><a href="/">Home</a></li>
        <li data-action="terms"><a href="/terms-and-conditions">Terms & Conditions</a></li>
        <li data-action="role"><a href="/role">Role (Example)</a></li>
    </ul>
</div>
  <script src="\Assets\Scripts\menu.js"></script>
