<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="/Assets/Scripts/logout.js"> </script>
</head>
<body>
    <header>
        <h1>Welcome, {{UserName}}!</h1>
    </header>
    <main>
        <button onclick="logout()">Logout</button>
    </main>
</body>
</html>