<div class="WarningboxInfo">
    You Are Already Logged In With username
    <span class="username">"<span id="headerProfileUserName">{{UserName}}</span>"</span>. Go To
    <a class="links" href="/home">Home Page</a>
</div>
<style>
    .WarningboxInfo {
        font-family: 'Open Sans', sans-serif;
        background-color: rgba(255, 243, 205, 0.8); /* Warning background color */
        color: #856404; /* Warning text color */
        padding: 5px 20px;
        border: 1px solid #ffeeba; /* Warning border color */
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        z-index: 900;
        font-weight: bold;
        margin-top: 5px;
        text-align: center;
    }
</style>
